.content-preview{
    margin-bottom:20px;
}




.content-preview-image{
    width:100%;
    max-width:200px;
}

h1.centered{
    text-align:center;
}

.content-preview-text{
    font-size:13px;
    max-height:240px;
    overflow: hidden;
}


.content img{
    max-width: 100% !important;
    height: auto !important;
}

.content-text:after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.content-date{
    margin: 5px 0;
}

.content-rating{
    margin-top:10px;
}

.both-clear{
    clear:both;
}



.carousel-inner .item img{
    margin:auto;
    max-height:350px
}
