* {
margin: 0;
padding: 0;
}

html{
background:url(/design/krasota/bg.jpg) no-repeat fixed;
font-family:Arial;
background-size: cover;
}

body{
margin: 0 0 0 18.75px;
}

img{
border:none;
}


a:link{
text-decoration:none;
}

a:visited{
color:blue;
text-decoration:none;
}



ul.sdt_menu{
padding:0;
list-style: none;
font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
font-size:10.5px;
width:765px;
}
ul.sdt_menu a{
text-decoration:none;
outline:none;
}
ul.sdt_menu li{
float:left;
width:127.5px;
height:63.75px;
position:relative;
cursor:pointer;
background-color:RGBa(21,90,170,0.4);
}
ul.sdt_menu li > a{
position:absolute;
top:0px;
left:0px;
width:127.5px;
height:63.75px;
z-index:12;
-moz-box-shadow:0px 0px 1.5px #000 inset;
-webkit-box-shadow:0px 0px 1.5px #000 inset;
box-shadow:0px 0px 1.5px #000 inset;
}
ul.sdt_menu li a img{
border:none;
position:absolute;
width:0px;
height:0px;
bottom:0px;
left:63.75px;
z-index:100;
-moz-box-shadow:0px 0px 3px #000;
-webkit-box-shadow:0px 0px 3px #000;
box-shadow:0px 0px 3px #000;
}
ul.sdt_menu li span.sdt_wrap{
position:absolute;
top:18.75px;
left:0px;
width:127.5px;
height:45px;
z-index:15;
}
ul.sdt_menu li span.sdt_active{
position:absolute;
background-color:RGBa(21,120,190,1);
top:63.75px;
width:127.5px;
height:0px;
left:0px;
z-index:14;
-moz-box-shadow:0px 0px 3px #000 inset;
-webkit-box-shadow:0px 0px 3px #000 inset;
box-shadow:0px 0px 3px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
margin-left:11.25px;
text-transform:uppercase;
text-shadow:0.75px 0.75px 0.75px #000;
}

ul.sdt_menu li span span.sdt_link{
color:#fff;
font-size:18px;
float:left;
clear:both;
}
ul.sdt_menu li span span.sdt_descr{
float:left;
clear:both;
width:116.25px; /*For dumbass IE7*/
font-size:9px;
letter-spacing:0.75px;
color:RGB(121,190,250);
}
ul.sdt_menu li div.sdt_box{
display:block;
position:absolute;
width:127.5px;
overflow:hidden;
height:127.5px;
top:63.75px;
left:0px;
display:none;
background-color:RGBa(21,120,190,0.5);
}

ul.sdt_menu li div.sdt_box a{
float:left;
clear:both;
font-weight:600;
line-height:19px;
color: Ivory;
}

ul.sdt_menu li div.sdt_box a:first-child{
margin-top:11.25px;
}

ul.sdt_menu li div.sdt_box a:hover{
color:#aaaaaa;
}

ul.sdt_menu li:last-child div.sdt_box{
display:block;
position:absolute;
width:382.5px;
overflow:hidden;
height:127.5px;
top:63.75px;
left:0px;
display:none;
background-color:RGBa(21,120,190,0.5);
}



div.mainalign{
width: 1050px;
margin: 75px auto 0px;
}



div#label{
width: 252.75px;
height:651.75px;
float:right;
margin-left:-52.5px;
background:url(/design/krasota/logo.png) no-repeat;
background-size:contain;
}


div.contentfield{
clear:left;
line-height:18.75px;
width: 765px;
margin:0;
}


div.mainfooter{
border:0px;
text-align:center;
-webkit-box-shadow: 0 0 7.5px rgba(0,0,0,0.5);
-moz-box-shadow: 0 0 7.5px rgba(0,0,0,0.5);
filter: progid:DXImageTransform.Microsoft.dropshadow(offX=2, offY=2, color=rgba(0,0,0,0.5));
box-shadow: 0 0 7.5px rgba(0,0,0,0.5);
border-top-left-radius:7.5px;
border-top-right-radius:7.5px;
background-color:rgba(0,0,255,0.1);
width:765px;
float:left;
height:37.5px;
margin:15px 0 3.75px;
padding:22.5px 0 7.5px;
}


div.mainfooter a{
font:14.25px/normal Comic Sans MS;
text-decoration:none;
color:#eeee66;
text-shadow:0.75px 0.75px 0.75px #000;
}


div.mainfooter a:hover{
color:gray;
}


div.mainfooter a:visited{
color:#eeee60;
}




div.article{
background-color:#ffffff;
border-radius:0 0 7.5px 7.5px;
float:left;
padding:18.75px;
min-width:727.5px;
font: italic normal 14.25px 'Georgia';
}



div.article_preview{
background-color:RGBa(255,255,255,1);
opacity:1;
margin:0.75px 0.75px 0 0;
float:left;
padding:16.5px 18px 6px 18.75px;
width:217.5px;
height:217.5px;
overflow:hidden;
}

div.article_preview:hover{
opacity:0.9;
background-color:RGBa(255,255,255,0.9);
}


div.article_preview img{
height:157.5px;
width:210px;
overflow:hidden;
}
div.article_preview a:visited{
font-size:16.5px;
font-weight:400;
}


.article_link{
padding:0 1.5px;
font-size:13.5px;
font-weight:400;
height:37.5px;
width:210px;
overflow:hidden;
	font-style:italic;
	font-family:Georgia;
}


.article_date{
float:right;
margin-right:7.5px;
font-size:9px;
}
.article_rating{
float:left;
font-size:9px;
}

div.navig{
clear:both;
float:left;
background-color:#ffffff;
border-radius:7.5px;
margin-top:11.25px;
padding:18.75px;
font-family:Arial;
font-style:normal;
min-width:255px;
}

div.navig a:link {
color: #0055aa;
}

div.navig a:visited {
color: #0055aa;
}

#current_page{
background-color:#0055aa;
color:#fff; padding: 2.25px 5.25px;
border:1.5px outset;
border-radius: 3.75px;
}
